{% extends "sidenav.html" %}
{% block content %}
{% load static %}
    <body>
        <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <img src="{% static "photos/person1.png" %}" class="topleft" alt="Logo Person">
                        <p class="textcenter">ABOUT</p>
                        <p class="textcenter">///</p>
                </div>
        </div>

        <div class="container">
                <div class="col-lg-7 col-md-7 col-sm-7 plain">
                    <img src="{% static "photos/irene1.jpg" %}" class="responsive-abt" alt="Irene Pixelyne"><br>
                    <img src="{% static "photos/orangeredline.png" %}" class="responsive-abt" alt="line"><br>

                        <div class="col-md-4 plain">
                            <a href = "https://www.linkedin.com/in/irene-pixelyne/"><img src="{% static "photos/linkedin.png" %}" class="img-responsive centerpic socmed-logo" alt="Linkedin"><br></a>
                        </div>
                        
                        <div class="col-md-4 plain">
                            <a href = "https://www.instagram.com/irenepixelyne/"><img src="{% static "photos/instagram.png" %}" class="img-responsive centerpic socmed-logo" alt="Instagram"><br></a>
                        </div>
                        
                        <div class="col-md-4 plain">
                            <a href = "https://www.twitter.com/irenepixelyne/"><img src="{% static "photos/twitter.png" %}" class="img-responsive centerpic socmed-logo" alt="Twitter"><br></a>
                        </div>
                </div>
    
                <div class="col-lg-5 col-md-5 col-sm-5 text-center plain">
                    <p class="thick">
                    I’m Irene, an undergraduate studying Information System at Faculty Of Computer Science, University of Indonesia.</p><br>
                    <p class="longtext color">
                    A 19 years old girl currently on her second-year of college. Solid interpersonal skill and willing to help, listen, and learn. 
                        I spend my down time reading or watching movies, but if I’m feeling active i either swim or run. 
                        I enjoy listening to music and discovering different-side of me by listening to various genre. 
                        Also in love with technology, coffee, and dogs.</p>
                        <br><br>
                    <div>
                        <img src="{% static "photos/orangerec.png" %}" alt="Line"><br>
                        <a href="{% url 'biodata' %}" class="longtext">Get more personal</a><br>
                        <img src="{% static "photos/redrec.png" %}" alt="Line"><br>
                    </div>
                </div>
                </div>   

    </body>
{% endblock %}