{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
        <img src="{% static "photos/3sunflower.png" %}" class="topright" alt="Irene Pixelyne">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="textcenter">
                        <p>ABOUT</p>
                        <p>///</p>
                </div>
                    <img src="{% static "photos/person1.png" %}" class="topleft" alt="Person Logo">
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 longtext color"><p>
                    Full name: Irene Pixelyne Romauli<br><br>
                    Nick name: Irene<br><br>      
                    Date of birth: 15th June 1999<br><br>  
                    Blood Group: O(+) Positive<br><br>
                    Siblings: 2 sisters<br><br>             
                    City: DKI Jakarta<br><br>             
                    Mobile: (+62)82125949998<br><br>           
                    Line ID: irenepixelyn<br><br>          
                    Email: irene.pixelyne@ui.ac.id<br></p>
                    <img src="{% static "photos/redorangerec.png" %}" class="bioline" alt="Line">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 plain">
                    <div class="row">
                        <img src="{% static "photos/orangeredrec.png" %}" class="bioline" alt="Line"><br><br>
                    </div>
                    <div class="row">
                        <img src="{% static "photos/irene2.jpg" %}" class="irene2css" alt="My Photo">
                    </div>
                </div>
        </div> 
        
            <div id="imageWrapper2">
                    <img src="{% static "photos/bigsunflower.png" %}" class="bottomImageRightBio" alt="Flower"><br><br>
            </div>
</body>
{% endblock %}