{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
    <img src="{% static "photos/bigsunflower2.png" %}" class="edubigsun" alt="Sunflower">
    <img src="{% static "photos/halfsunflower.png" %}" class="halfsunflower" alt="Sunflower">
 
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <p class="textcenter">EDUCATION</p>
            <p class="textcenter">///</p>
            <img src="{% static "photos/school.png" %}" class="topleft" alt="Person Logo">
        </div>
    </div>

    <div class="container">
        <div class="col-lg-5 col-md-5 col-sm-5 text-center color">
            <br><img src="{% static "photos/kuliah.png" %}" class="logo-study" alt="kuliah"><br><br><br>
            <img src="{% static "photos/sma.png" %}" class="logo-study" alt="sma"><br><br><br>
            <img src="{% static "photos/smp.png" %}" class="logo-study" alt="smp"><br><br><br>
            <!--<img src="{% static "photos/sd.jpg" %}" class="logo-study" alt="sd"><br><br><br>-->
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 plain text-center">
            <br><br><p class="text-education">Faculty of Computer Science, University of Indonesia<br>
                    Major : Information System<br>
                    2017 - now
            </p><br><br><br>
            <p class="text-education">SMAN 81 Jakarta<br>
                    Major : Science<br>
                    2014 - 2017
            </p><br><br><br><br>
            <p class="text-education">SMPK 5 Penabur Jakarta<br>
                    2011 - 2014<br>
            </p><br><br><br><br>
           <!-- <p class="text-education">
                    SD Strada Vanlith II<br>
                    2005 - 2011<br>
            </p><br>-->
        </div>
        <div align="right">
            <img src="{% static "photos/orangerec.png" %}" alt="Line"><br>
            <a href="{% url 'techskills' %}" class="longtext">Click for more!</a><br>
            <img src="{% static "photos/redrecshorter.png" %}" alt="Line"><br>
        </div>
    </div>
</body>
{% endblock %}