{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
<!--HEADER-->

<img src="{% static "photos/bigsunflower2.png" %}" class="edubigsun" alt="Sunflower">
<img src="{% static "photos/halfsunflower.png" %}" class="halfsunflower" alt="Sunflower">

<div class="container">
        <div class="col-md-12 text-center">
                <img src="{% static "photos/person1.png" %}" class="responsive-top-right" alt="Person Logo">
                <p class="textcenter">GUEST BOOK</p>
                <p class="textcenter">///</p>
        </div>
    </div>
    
    <!--FORM-->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="formposition">
                <form action="/action_page.php"><br><br>
                    <label for="fname">Name</label><br>
                    <input type="text" id="fname" name="firstname" placeholder="Full name.."><br>
                    <label for="fname">Date</label><br>
                    <input type="date" required="required"><br><br>
                    <label for="email">Email</label><br><br>
                    <input type="email" id="email" name="email" placeholder="test@test.com"><br><br>
                    <label for="lname">Subject</label><br>
                    <input type="text" id="subject" name="subject" placeholder="Subject.."><br><br>
                    <label for="subject">Message</label><br>
                    <textarea rows="2" cols="50" id="message" name="message" placeholder="Write something.." style="height:200px"></textarea><br>
                    <br><input type="submit" value="Submit"><br>
                </form>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}