{% extends "sidenav.html" %}
{% block content %}
{% load static %}
    <body>
        <div class="container-float text-center">
            <p class="textcenter" style="margin-top:20px">IRENE PIXELYNE</p>
            <div class="col-lg-12 col-md-12 col-sm-12 plain col-centered">
                <div id="button-position">
                        <p id="long-text-home"><strong>Hello!</strong>
                            I study computer science and this website is created for my web design and programming class. 
                                <br>Thankyou for visiting!
                            </p>
                    <button type="submit" id="button-subscribe">
                        <div class="textcenter1">
                                <a class="textcenter1" href="{% url 'lab_10:displayForm' %}">Subscribe</a></button><br><br>
                                <p id="long-text-home">Check out my stories :</p>
                                <div class="inside">
                                        <a href="{% url 'landing' %}"><p class="textcenter1"><strong>Share your status</strong></p></a>
                                        <a href="{% url 'aboutme' %}"><p class="textcenter1"><strong>JQuery Implementation</strong></p></a>
                                        <a href="{% url 'books:index' %}"><p class="textcenter1"><strong>Favorite books</strong></p></a>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <img src="{% static 'photos/haha.gif' %}" class="responsive-hp" style=" max-width: 250px;" alt="Homepage">
    </body>
{% endblock %}