{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
        <div class="container">
                <img src="{% static "photos/doublesunflower.png" %}" class="img-responsive responsive-top-left-pers" alt="Sunflower">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <img src="{% static "photos/eye.png" %}" class="topleft" alt="Person Logo">
                        <p class="textcenter">PERSPECTIVE</p>
                        <p class="textcenter">///</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-4 col-md-offset-4 color text-center long">
                    <p class="long-text-big"><br>How others describe me <br> in 3 words</p>
                    <img src="{% static "photos/orangeredline.png" %}" class="responsive-abt" alt="line"><br>
                </div>
            </div>
            <div class="container">
                <br><br>
                <div class="col-md-4 plain text-center">
                        <img src="{% static "photos/upi.jpg" %}" alt="Luthfi" style="max-width: 250px; min-width: 20px;">
                        <br><br><br><br>
                        <p class="longtext-thick">Luthfi Sulaiman<br></p>
                        <p class="longtext">2015 Fasilkom Student<br>My Mentor<br>Caring<br>Talkative<br>Fun<br></p>
                </div>
                <div class="col-md-4 plain text-center">
                        <img src="{% static "photos/puri.jpg" %}" alt="Puri" style="max-width: 250px; min-width: 20px;">
                        <br><br><br><br>
                        <p class="longtext-thick">Putri Kinanti<br></p>
                        <p class="longtext">2017 Fasilkom Student<br>My close friend<br>Outgoing<br>Talkative<br>Ambitious<br></p>
                </div>
                <div class="col-md-4 plain text-center">
                    <img src="{% static "photos/budi.jpg" %}" alt="Budiono" style="max-width: 250px; min-width: 20px;">
                    <br><br><br><br>
                    <p class="longtext-thick">M. Arif Budiono<br></p>
                    <p class="longtext">2016 Fasilkom Student<br>My PIC in CGT Pubic Relation<br>Clever<br>Dependable<br>Fierce<br></p>
                </div>
                <div class="col-md-4 plain text-center">
                        <br><br><img src="{% static "photos/fara.jpg" %}" alt="Fahira" style="max-width: 250px; min-width: 20px;">
                        <br><br><br><br><br>
                        <p class="longtext-thick">Fahira Develin<br></p>
                        <p class="longtext">2017 Metallurgy Student ITS<br>My Highschool Bestie<br>Up to date<br>Happy<br>Talkaktive<br></p>
                </div>
                <div class="col-md-4 plain text-center">
                        <br><br><img src="{% static "photos/iqbal.jpg" %}" alt="Iqbal" style="max-width: 250px; min-width: 20px;">
                        <br><br><br><br><br>
                    <p class="longtext-thick">M Iqbal Mahendra<br></p>
                    <p class="longtext">2016 Fasilkom Student<br>My Mentor<br>Diligent<br>Perfectionist<br>Open minded<br></p>
                </div>
                <div class="col-md-4 plain text-center">
                        <br><br><img src="{% static "photos/nadya.jpg" %}" alt="Nadya" style="max-width: 250px; min-width: 20px;">
                        <br><br><br><br><br>
                    <p class="longtext-thick">Nadya Nisrina<br></p>
                    <p class="longtext">2017 Farmacy Student UI<br>My Highschool Bestie<br>Mature<br>Smart<br>Kind<br></p>
                </div>
            </div>

            <div id="imageWrapper2">
                    <img src="{% static "photos/large.png" %}" class="bottomImageRightPers">
            </div>    
</body>
{% endblock %}