{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
        <img src="{% static "photos/3sunflower.png" %}" class="responsive-3sun" alt="Sunflower">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <img src="{% static "photos/code.png" %}" class="topleft" alt="Code Logo">
                    <p class="textcenter">EDUCATION</p>
                    <p class="textcenter">///</p>
                    <p class="techinalskillstext">Technical Skills</p>
                    <div class="center-block" id="rectangle5"></div><br>
            </div>
        </div>
        <div class="container">
                <div class="col-lg-1 col-md-1 col-sm-1 text-center"></div>
                <div class="col-lg-3 col-md-3 col-sm-3 text-center color">
                    <p class="page-5-caption">Languange</p>
                    <img src="{% static "photos/wave.png" %}" class="center-block-wave" alt="Wave"><br><Br>
                    <div id="wrapper">
                            <img src="{% static "photos/java.png" %}" class="img-responsive center-block-java hover" alt="Java"><br><br>
                            <p class="text">Java</p>
                            <img src="{% static "photos/python.svg" %}" class="center-block-python hover" alt="Pyhthon"><br><br>
                            <p class="text">Python</p><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 text-center"></div>
                <div class="col-lg-3 col-md-3 col-sm-3 text-center color">
                    <p class="page-5-caption">Technologies</p>
                    <img src="{% static "photos/wave.png" %}" class="center-block-wave" alt="Wave"><br><br>
                    <div class="center-block" id="wrapper">
                            <img src="{% static "photos/vsc.png" %}" class="center-block-tech hover" alt="Visual Studio Code"><br><br>
                            <p class="text">Visual Studio Code</p>
                            <img src="{% static "photos/sublime.png" %}" class="center-block-tech hover" alt="Sublime"><br><br>
                            <p class="text">Sublime</p>
                            <img src="{% static "photos/intellij.png" %}" class="center-block-tech hover" alt="Intellij"><br><br>
                            <p class="text">Intellij</p><br><br><br><br><br><br>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 text-center"></div>
                <div class="col-lg-3 col-md-3 col-sm-3 text-center color">
                    <p class="page-5-caption">Packages</p>
                    <img src="{% static "photos/wave.png" %}" class="center-block-wave" alt="Wave"><br><br>
                    <div id="wrapper">
                            <img src="{% static "photos/msword.png" %}" class="center-block-tech hover" alt="Microsoft Word"><br><br>
                            <p class="text">Microsoft Word</p>
                            <img src="{% static "photos/msexcel.png" %}" class="center-block-tech hover" alt="Microsoft Excel"><br><br>
                            <p class="text">Microsoft Excel</p>
                            <img src="{% static "photos/mspp.png" %}" class="center-block-tech hover" alt="Microsoft Power Point"><br><br>
                            <p class="text">Microsoft Power Point</p>
                            <img src="{% static "photos/outlook.png" %}" class="center-block-tech hover" alt="Outlook"><br><br>
                            <p class="text">Outlook</p>
                    </div>
                </div>
        </div>
        <div id="imageWrapper2">
            <img src="{% static "photos/sunflowerpg5.png" %}" class="img-responsive bottomImageCenterTech" alt="Sunflower">
        </div>
</body>
{% endblock %}