{% extends "sidenav.html" %}
{% block content %}
{% load static %}
<body>
        <img src="{% static "photos/sunflowerpg6.png" %}" class="responsive-what" alt="Sunflower">
        <div class="container">
            <div class="col-md-12 text-center">
                    <img src="{% static "photos/work.png" %}" class="topleft" alt="Work Logo">
                    <p class="textcenter">WHAT I'VE DONE SO FAR</p>
                    <p class="textcenter">///</p>
            </div>
        </div>
        
        <div class="container">
                        <div class="col-lg-12 col-md-12 col-sm-12 plain" id="redrectangle"></div><br>
                        <div class="col-lg-12 col-md-12 col-sm-12 plain" id="orangerectangle"></div><br>
                        <div class="col-lg-2 col-md-2 col-sm-2 plain text-center"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 color text-center">
                                    <br><p class="thick-small">DIGITAL MARKETING INTERNSHIP</p>
                                    <p class="long-text-small">INews</p>
                                    <p class="long-text-small">2018</p>
                                    <p class="thick-small">PIC OF EVENT</p>
                                    <p class="long-text-small">Open House Fasilkom UI</p>
                                    <p class="long-text-small">2018</p>
                                    <p class="thick-small">VICE PIC OF PUBLIC RELATION</p>
                                    <p class="long-text-small">Pemira Fasilkom UI</p>
                                    <p class="long-text-small">2018</p>
                                    <p class="thick-small">MENTOR OF STUDENT ORIENTATION</p>
                                    <p class="long-text-small">PMB Fasilkom UI</p>
                                    <p class="long-text-small">2018</p>
                                    <p class="thick-small">STAFF OF PLAYGROUND</p>
                                    <p class="long-text-small">COMPFEST X</p>
                                    <p class="long-text-small">2018</p>
                                    <p class="thick-small">STAFF OF PUBLIC RELATION</p>
                                    <p class="long-text-small">The 25th CGT</p>
                                    <p class="long-text-small">2017</p>
                                    <p class="thick-small">STAFF OF PUBLIC RELATION</p>
                                    <p class="long-text-small">Open House Fasilkom UI</p>
                                    <p class="long-text-small">2017</p><br>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 plain text-center"></div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <img src="{% static "photos/ireneanit.jpg" %}" class="fotoberdua" alt="OH 2018">
                    <img src="{% static "photos/pemira.jpg" %}" class="fotoberdua" alt="Pemira 2018">
                    <img src="{% static "photos/cgt2017.jpg" %}" class="fotoberdua" alt="CGT 2017">
                    <img src="{% static "photos/mentor2018.jpg" %}" class="fotoberdua" alt="PMB 2018">
                    <img src="{% static "photos/oh2017.jpg" %}" class="fotoberdua" alt="OH 2017">
                    <img src="{% static "photos/pg2018.jpg" %}" class="fotoberdua" alt="PG 2018">
                </div>
            
        </div>
        <div id="imageWrapper2">
            <img src="{% static "photos/bottomsunflower.png" %}" class="bottomwhat" alt="Sunflower">
        </div>
</body>
{% endblock %}