{% load static %}
<!DOCTYPE html>
    <head>
            <meta charset="UTF-8">
            <title>About Me</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="{% static 'css/csslab_6.css' %}" type="text/css">
            <script type = "text/javascript" src = "{% static 'js/jquerylab_6.js' %}" ></script>
    </head>
    <body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <a href="{% url 'lab_4:home' %}">
            <img src="{% static "photos/home.png" %}" style="max-width: 30px; margin-top: 20px; margin-left: 10px" alt="Back to Home"></a>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <img src="{% static "photos/aboutme.jpg" %}" class="center_pic" style="max-width:300px;"><br><br>
                    <button id="toggleButton">Night Mode</button>
                    <hr>
                    <div id="headerText">
                        <p>Halo, perkenalkan</p>
                    </div>
                    <hr>
                    <div class="longtext">
                            <p>Irene, mahasiswi Faskultas Ilmu Komputer 2017.</p><br>
                            <p>Semakin lama kuliah semakin cinta kopi dan kensunyian, salam hangat.</p>
                    </div>
                    <a href="{% url 'landing' %}">
                        <br><p>kembali</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="accordion">
                        <h3 id="header3">Kenal Lebih Dekat</h3>
                        <h3 class="title">Aktivitas Saat Ini</h3>
                        <div class="panel">
                            <article>Kuliah, rapat, belajar, begadang</article>
                        </div>                    
                        <h3 class="title">Pengalaman Organisasi dan Kepanitiaan</h3>
                        <div class="panel">
                            <article>Staff Humpub OH 2017, Staff Humas CGT 2018, Staff Playground COMPFEST X, Staff Mentor PMB 2018, PJ Acara OH 2018, VPJ Humas Pemira 2018, VPJ Humas CGT 2019</article>
                        </div>
                        <h3 class="title">Prestasi</h3>
                        <div class="panel">
                            <article>Juara 1 Lomba Puisi FLS2N 2013</article>
                        </div>
                    </div>                      
                </div>    
            </div>
        </div>
    </div>


    <script>
        var myVar;
        
        function myFunction() {
            myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
    </script>


</body>