{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static './css/csslab_6.css' %}" type="text/css">
    </head>
    <body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <a href="{% url 'lab_4:home' %}">
    <img src="{% static "photos/home.png" %}" style="max-width: 30px; margin-top: 20px; margin-left: 10px" alt="Back to Home"></a>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <center>
                    <div id="outside2">
                        <div id="inside2">
                                <p class="textcenter1">How are you?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <section name = "form">
                        <br><br><br>
                            <form id="form" method="POST" action="{% url 'landing' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p>{{ field.label_tag }} <br> {{ field }}</p>
                                {% endfor %}
                                <br>
                                <button type="submit" class="btn btn-default" action="{% url 'landing' %}">ceritakan</button>
                                <br><br><br>
                            </form>
                    </section>
                </div>
                <div class="text-center">
                        <a href="{% url 'aboutme' %}">
                        <p class="thick">tentang aku</p>
                        <br>
                        </a>
                </div>
            </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table style="width:100%">
                                {% if all_status %}
                                    <tr>
                                        <th>pesan</th>
                                        <th>tanggal</th>
                                        
                                    </tr>
                                    {% for x in all_status %}
                                        <tr>
                                            <td>{{ x.status }}</td>
                                            <td>{{ x.created_date }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>No Status!</p> 
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </center>
        </div>    
        <script>
        var myVar;
        
        function myFunction() {
            myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }
        </script>
    </body>
</html>
