body, html {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

#outside {
    border-radius: 10px;
    background: #F8F8F8 ;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
    margin-top: 20px;
}

#inside {
    padding-inline-start: 20px;
}

#outside2 {
    border-radius: 10px;
    background: #F8F8F8 ;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
}

#inside2 {
    padding-inline-start: 20px;
}

#books{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
}

.loves{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-align: right;
}

.button {
    background-color: #F8F8F8;
    border-radius: 10px;
    border: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}
