body, html {
    height: 100%;
    font-family: 'Suez One', serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ffffff;
}
#id_email, #id_lastName, #id_firstName, #id_password{
	border-radius:10px;
}
form{
	font-size:20px;
}
#dialog{
	border-radius:10px;
}
#waitUp{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}
.textcenter1 {
    font-family: "Liberation Sans";
    letter-spacing: 5px;
    color: #1B1B1E;
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
}
.label_tag{
	font-family: "Liberation Sans";
	font-style: normal;
	font-size: 15px;
	letter-spacing: 5px;
    color: #1B1B1E;
}
#outside {
	width: 50%;
    border-radius: 15px;
    background: #F4F0E8;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}
#inside {
	padding : 20px;
}
#outside2 {
	width: 50%;
    border-radius: 10px;
    background: #00A0C6;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
    margin-top: 20px;
}
#inside2 {
	padding : 2px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 3px; 
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 3px; 
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px;
    margin-bottom: 3px; 
    resize: vertical 
} 

