body, html {
    height: 100%;
}

input[type=submit] {
    width: 50%;
    background-color: #FF3D00;
    color: #ffffff;
    margin-top: 10px; 
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.color {
    background-color:#FFB03A;
    border-radius: 15px;
}
#headerText{
    font-style: normal;
    font-size: 50px;
    letter-spacing: 4px;
    color: #1B1B1E;
    text-align: center;
}
.longtext {
    letter-spacing: 3px;
    color: #1B1B1E;
    text-align: center;
}

#header3 {
    font-style: normal;
    letter-spacing: 3px;
    color: #1B1B1E;
    text-align: center;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
.center_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th {
    background-color: #00A0C6;
    color: white;
    text-align: center;
}
#toggleButton {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    background: rgb(112, 119, 148);
}
#toggleButton:hover {
    background: #ccc;
    color: white;
}

#buttonText {
    color: #444;
    font-size: 13px;
}

/*accordion*/

.accordion {
    max-width: 400px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    margin: 0 auto;
}

.title {
    border: 2px solid white;
    background-color:rgb(112, 119, 148);
    color: #444;
    cursor: pointer;
    padding: 1.5rem;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px;
    display: block;
}

.title:hover {
    background-color: #ccc;
    color: white;
}

.panel {
    border: 2px solid white;
    display: none;
    padding: 0 18px;
    border-radius: 10px;
}

/*loader*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00A0C6;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

#outside {
	width: 50%;
    border-radius: 15px;
    background: #F4F0E8;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}
#inside {
	padding : 20px;
}
#outside2 {
	width: 50%;
    border-radius: 10px;
    background: #00A0C6;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
    margin-top: 20px;
}
#inside2 {
	padding : 2px;
}

.textcenter1 {
    font-family: "Liberation Sans";
    letter-spacing: 5px;
    color: #1B1B1E;
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
}