body, html {
    height: 100%;
}

.header {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.textcenter {
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 7px;
    color: #000000;
    text-align: center;
}

.longtext {
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 3px;
    color: #000000;
}

.long-text-big {
    font-family: "Liberation Sans";
    font-style: normal;
    font-size: 19px;
    letter-spacing: 4px;
    color: #000000;
}

#long-text-home {
    font-family: "Liberation Sans";
    font-style: normal;
    font-size: 15px;
    letter-spacing: 3px;
    color: #000000;
}

.text-education {
    font-family: "Liberation Sans";
    font-style: normal;
    font-size: 15px;
    letter-spacing: 4px;
    color: #000000;
}


.long-text-small {
    font-family: "Liberation Sans";
    font-style: normal;
    font-size: 9px;
    letter-spacing: 2px;
    color: #000000;
}

.thick {
    font-weight: bold;
    font-family: "Liberation Sans";
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000;
}

.longtext-thick {
    font-weight: bold;
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 2px;
    color: #000000;
}

.thick-small {
    font-weight: bold;
    font-family: "Liberation Sans";
    font-size: 9px;
    letter-spacing: 3px;
    color: #000000;
}


.topleft {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
}

.topright {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 160px;
}

.bottomright {
    position: absolute;
    top: 400px;
    right: 0px;
    width: 250px;
    height: 200px;;
}

.halfsunflower {
    position: absolute;
    top: 310px;
    right: 0px;
    width: 120px;
    height: 260px;
    max-width:90px; 
    min-width:50px;
}

.middleright {
    position: absolute;
    top: 310px;
    left: 50px;
}

.overpict {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
}

a:hover {
    background-color: rgb(255, 255, 255);
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
}

.textcenter1 a:hover {
    background-color: #E05656;
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FFB03A;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  

#tab {
    margin-left: 5px;
    position: absolute;
    top: 50%;
  }

.home {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.col-md-4 {
    background-color: rgb(240, 238, 238);
}

.color {
    background-color: rgb(240, 238, 238);
}


.plain {
    background-color: #ffffff;
}

input[type=text], select {
    text-align: center;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FFB03A;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #FFB03A;
    color:rgb(240, 238, 238);
    padding: 20px 26px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}


.formposition{
    margin-left: auto;
    margin-right: auto;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: rgb(240, 238, 238);
    font-family: "Liberation Sans";
    /* font-size: 5px; */
    border:2px solid #FFB03A;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.techinalskillstext {
    font-family: "Liberation Sans";
    font-style: normal;
    font-size: 44px;
    letter-spacing: 2px;
    color: #000000;
}


#rectangle5 {    
    background-color: #E05656;
    border-right: 100px solid #FFB03A;
	width: 200px;
	height: 6px;
   
}

#redrectangle {    
    background-color: #E05656;
	width: 200px;
	height: 6px;
   
}

#orangerectangle {    
    background-color: #FFB03A;
	width: 150px;
	height: 6px;
   
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive-top-left {
    position:absolute;
    left:0%;
    top:0%;
}

#imageWrapper2 { 
    position: relative; height: 100px; 
}

#bottomImage { 
    position: absolute; bottom: 0px; 
}

.bottomImageRightBio { 
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    max-width: 250px;
}

.bottomImageRight { 
    position: absolute; bottom: 0px; right: 0px;
}

.bottomImageRightPers { 
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    max-width: 150px;
}

#bottomImageCenter { 
    position: absolute; bottom: 0px; right: 400px;
}

#topImage { 
    position: absolute; top: 0; 
}

.responsive-top-right {
    position:absolute;
    right:0%;
    top:0%;
}

.responsive-top-right-special {
    position:absolute;
    right:0%;
    top:0%;
}

.page-5-caption {
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 3px;
    font-size: 25px;
    color: #000000;
    text-align: center;
}

#wrapper .text {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
    font-family: "Liberation Sans";
    color: #000000;
    letter-spacing: 2px; 
    }
    
    #wrapper:hover .text {
    visibility:visible;
    }

.board{
    margin: 47px;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

#wrapper1 {
    max-width: 1050px;
    margin: 0px auto 20px auto;
    background-color: rgb(255, 255, 255)
  }
  .itemwrapper1 {
    display: table-cell;
    vertical-align: left;
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }

.col-centered{
    float: none;
    margin: 0 auto;
}

.logo-study{
    max-width: 100px; 
    width: 100%;
}

.imgwrapper {
    width: 80%;
 }

 .center-div {
     margin: 0 auto;
     width: 100px; 
}

.responsive-hp {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive-abt {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.socmed-logo {
    max-width: 20px;
}

* {
    box-sizing: border-box;
}

.column-socmed {
    float: left;
    width: 33.33%;
    padding: 50px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.fotoberdua{
    float: left;
    width: 50%;
    max-width:200px;
}

.bioline {
    max-width:240px; 
    min-width:50px;
}

.irene2css {
    max-width:250px; 
    min-width:100px;
}

.edubigsun {
    position:absolute;
    left:0%;
    top:0%;
    max-width:200px;
    min-width:50px;
}

.responsive-3sun {
    position:absolute;
    left:0%;
    top:0%;
    max-width:150px;
    min-width:50px;
}

.responsive-what {
    position:absolute;
    left:0%;
    top:0%;
    max-width:200px;
    min-width:50px;
}

.center-block-wave {
    display: block;
    margin: 0 auto;
    max-width: 100px; 
}

.center-block-java {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:120px; 
    min-width:10px;
}

.center-block-python {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:150px; 
    min-width:10px;
}

.center-block-tech {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50px; 
    min-width:10px;
}

.bottomImageCenterTech { 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    bottom: 0px; 
    right: 400px;
    max-width: 300px; 
}

.bottomwhat { 
    position: absolute; bottom: 0px; 
    max-width:150px; min-width:50px;
}

.responsive-top-left-pers {
    position:absolute;
    left:0%;
    top:0%;
    max-width:200px; min-width:10px;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titleId {
}

#text-center {
    text-align: center;
}

#button-stories {
    background-color: #FFB03A;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

#button-subscribe {
    background-color: #E05656;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

#button-position {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* a:link, a:visited {
    margin-top: 20px;
    background-color: #ffb03a;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #F7D488;
} */

.textcenter1 {
    font-family: "Liberation Sans";
    font-style: normal;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
}

#inside {
    padding-inline-start: 20px;
}