body, html {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

#holla{
    margin-bottom: 10px;
    color: 1B1B1E;
    font-size: 50px;
}