{% extends "sidenav.html" %}
{% load static %}
{% block content %}
<body>

        <img src="{% static "photos/bigsunflower2.png" %}" class="edubigsun" alt="Sunflower">
        <img src="{% static "photos/halfsunflower.png" %}" class="halfsunflower" alt="Sunflower">

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <img src="{% static "photos/schedule.png" %}" class="responsive-top-right" style="max-width: 50px" alt="Schedule Logo">
                <p class="textcenter">SCHEDULE</p>
                <p class="textcenter">///</p>
        </div>
    </div>
    <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
                    <table style="width:100%">
                        {% if schedules %}
                            <tr>
                                <th>Day</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Activity</th>
                                <th>Place</th>
                                <th>Category</th>
                            </tr>
                            {% for schedule in schedules %}
                                <tr>
                                    <td><br>{{ schedule.day }}</td>
                                    <td><br>{{ schedule.date }}</td>
                                    <td><br>{{ schedule.time }}</td>
                                    <td><br>{{ schedule.name }}</td>
                                    <td><br>{{ schedule.place }}</td>
                                    <td><br>{{ schedule.category }}<t/d>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p class="thick text-center">Yay, no schedule!</p> 
                        {% endif %}
                    </table>
                    <br>
                    <form action="{% url 'lab_5:makeschedule' %}">
                        <a href="{% url 'lab_5:makeschedule' %}" class="longtext-thick">
                            <p class="text-center"><br><br>ADD NEW SCHEDULE</p><br><br>
                        </a>
                    </form>
                    <form action= "{% url 'lab_5:delete' %}">
                        <a href="{% url 'lab_5:delete' %}" class="longtext-thick">
                           <p class="text-center">DELETE ALL SCHEDULE</p> 
                        </a>
                    </form>
                </div>
    </div>
    
</body>
{% endblock %}
