{% extends "sidenav.html" %}
{% load static %}
{% block content %}
<body>

        <img src="{% static "photos/3sunflower.png" %}" class="responsive-3sun" alt="Sunflower">
      
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="{% static "photos/schedule.png" %}" class="responsive-top-right" style="max-width: 50px" alt="Schedule Logo">
            <p class="textcenter">CREATE SCHEDULE</p>
            <p class="textcenter">///</p>
    </div>
</div>

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <!-- <div class="roundedrec">
            <div class="insiderec"> -->
                <p class="long-text-big">Lets Get Organized</p><br>
                <form action="#" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} <br> {{ field }}</p>
                    {% endfor %}
                    <input type="submit" value="Submit"><br><br>
                    <a href="{% url 'lab_5:displayschedule' %}">
                        <p class="thick">See Schedules</p>
                    </a>
                </form>
            <!-- </div>
        </div> -->
    </div>
    
    <style type="text/css">
        label {
            margin-right: 0.7em; /* or larger if you need */
            margin-bottom: -1em;
        }
    </style>
    
</div>
<div id="imageWrapper2">
        <img src="{% static "photos/sunflowerpg5.png" %}" class="img-responsive bottomImageCenterTech" alt="Sunflower">
    </div>


</body>
{% endblock %}


