{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Favorite Books</title>
        <link rel="icon" href="{% static 'photos/read.png' %}" type="image/gif" sizes="16x16">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/books.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Suez+One" rel="stylesheet">
        <style>body{background-color: #F5EFED;}</style>
    </head>
    
    <body>
            <a href="{% url 'lab_4:home' %}">
                <img src="{% static "photos/home.png" %}" style="max-width: 30px; margin-top: 20px; margin-left: 10px" alt="Back to Home"></a>
            <div class="bg container-fluid h-100 w3-center">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-11">
                        {% if user.is_authenticated %}
                            <p style="font-size: 15px;" class="display-4">Hello, <b>{{user.username}}</b></p>
                            <p style="font-size: 15px;" class="display-4">Email: {{ user.email }} </p>   
                            {{user.picture}}
                            <a  style="font-size: 15px;" class="lead" href="{% url 'logout' %}?next={% url 'final' %}">Log out</a>
                        {% else %}
                            <a  style="font-size: 15px;" class="lead" href="{% url 'final' %}">Log in</a>
                        {% endif %}
                        <div id="outside">
                            <div id="inside">         
                                <p id=books><strong>Books</strong></p>
                            </div>
                        </div>
                        <button class="button" id="txt1">Quilting</button>
                        <button class="button" id="txt2">Comic</button>
                        <button class="button" id="txt3">Design</button><br>
                        <text class="loves" style="text-align:right;"><strong>  Like(s):</strong></text>
                        <text class="loves" style="text-align:right;" id ="countFavs">0</text>
                        <div id="outside2">
                            <div id="inside2">
                                <div class="table-responsive">
                                    <table id="myTable" class="table" style="font-size: 15px;">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col" class="align-middle">No</th>
                                                <th scope="col" class="align-middle">Cover</th>
                                                <th scope="col" class="align-middle">Title</th>
                                                <th scope="col" class="align-middle">Authors</th>
                                                <th scope="col" class="align-middle">Publisher</th>
                                                <th scope="col" class="align-middle" width="20%">Published Date</th>
                                                <th scope="col" class="align-middle" width="10%">Like</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <script src="{% static 'js/booklist.js' %}"></script>
                </div>
            </div>
        </div>
    </body>
</html>
